
/* Top bar */
.top-bar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: "#FFF";
  width: calc(100vw - 100px);
  margin-left: 50px;
  height: 60px;
  border-radius: 50px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.buttons-bar{
  display: flex;
  gap: 10px;
}


.logo-bar {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.title-bar{
  font-weight: 500;
  font-size: 30px;
  margin-left: 80px;
}

.button-get-started{
  font-size: 15px;
  font-weight: 400;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
}

/* img automation is key with many logos */

.automation-key {
  width: 100%;
  background-color: #EEEEEE;
  height: 600px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.automation-key img {
  height: 150px;
  width: 150px;
}

.connect-phone {
  width: calc(100vw - 400px);
  margin-left: 200px;
  height: 460px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}

.connect-phone p {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.connect-phone ul {
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
}

.connect-phone ul li {
  margin-top: 15px;
}

.mobile-store-logos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 30px;
}

.guide {
  width: 100%;
  background-color: #EEEEEE;
  height: 600px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.card {
  background-color: #FFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.card p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}