.my-footer {
    border-top: 2px solid #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

.my-footer ul {
    list-style-type: none;
    display: flex;
  }

.my-footer ul li {
    margin-right: 20px;
  }