fastapi
uvicorn[standard]
fastapi-security
pydantic[email]
pydantic
motor
pymongo
python-jwt
python-multipart
black
flake8
flake8-black
flake8-isort
isort
httpx
uvicorn[standard]
sentry-sdk[fastapi]
passlib[bcrypt]
python-jose[cryptography]
jwt